$dva: 25px;
$inner_cell: 2 * $dva;
$outer_cell: 1.6 * $dva;
$layout_height: 2 * $dva;
$stim_size: $dva;


body {
  background-color: rgb(45, 45, 48);
  color: white;
  font-size: 20pt;
  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-columns: $inner_cell $outer_cell $inner_cell;
  grid-template-rows: $layout_height;
  grid-template-areas: "left centre right";
  justify-content: center;
  align-content: center;
}

.face {
  //position: absolute;
  display: flex;
  grid-area: centre;
  width: $inner_cell;
  aspect-ratio: 1/1;
  background-size: $stim_size $stim_size;
  background-repeat: no-repeat;
  background-position: center;
  &.fixation {
    z-index: 1;
    background-image: url('../images/neutral-face.png');
  }
  &.cue {
    z-index: 0;
      &.left {
        background-image: url('../images/left-face.png');
      }
      &.right {
        background-image: url('../images/right-face.png');
      }
  }
}

.target {
  display: flex;
  place-content: center;
  place-self: center;
  align-items: center;
  text-align: center;
  width: $stim_size;
  aspect-ratio: 1/1;
  color: rgb(45,45,48);
  font-size: $stim_size;
  &.left {
    grid-area: left;
  }
  &.right {
    grid-area: right;
  }
  &.visible {
    color: white;
  }
}



